<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist Classification</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
<body>

<div class="main_screen">

    <div class="cover" style="text-align: center; font-size: 12px; color: #005cbf; margin-top: 5vh;">
        <h1>Audio Classification Demo</h1>
    </div>

    <img src="../assets/image.png" alt="spectrogram">
<!--<table style="width:90%">-->
<!--        <tr>-->
<!--            <th> pluginid </th>-->
<!--            <th>name </th>-->
<!--            <th> exploitavailable</th>-->
<!--            <th>severity </th>-->

<!--        </tr>-->


<!--    {% for element in data['labels'] %}-->
<!--        <tr>-->
<!--            <td> <button onclick="location.href='index.html';" type="button" value="{{element.split(" ",1)[0]}}" name="{{element.split(" ",1)[0]}}"> {{ element.split(" ",1)[0]}} </button></td>-->
<!--            <td> {{element.split("\t",1)[0]}} </td>-->
<!--            <td> {{element.split("\t",2)[1]}} </td>-->
<!--            <td> {{element.split("\t",3)[2]}} </td>-->

<!--        </tr>-->
<!--    {% endfor %}-->
<!--    </table>-->
</div>

</body>
</html>